.Audio {
  background: #333;
  color: #ffffff;
  padding: 3px 8px;
  margin: 0;
  border: solid 1px #444;
  font-size: 14px;
  border-radius: 2px;
  text-align: center;
  min-width: 50px;
  transition: background 0.2s, border 0.2s;
}

.Audio:hover {
  background: #444;
  border: solid 1px #555;
}
