@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

.app {
  font-size: 22px;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 96px;
}

h1 {
  margin: 8px;
  font-size: 5rem;
}

h2 {
  margin: 8px;
  margin-top: 16px;
  font-size: 2rem;
}

h3 {
  margin: 8px;
  font-size: 1.5rem;
  text-decoration: underline;
  margin-top: 24px;
  margin-bottom: 12px;
}

p {
  margin-top: 0px;
  color: rgb(150, 150, 150);
}

a {
  color: rgb(150, 150, 150);
}

input {
  background: #000;
  color: #ffffff;
  margin: 0;
  padding: 0px 4px;
  border: solid 1px #222;
  font-size: 2rem;
  width: 200px;
  margin-left: 4px;
}

.user {
  height: 100px;
}

.metamask-button {
  display: block;
  background: #000;
  color: rgb(150, 150, 150);
  padding: 8px;
  margin: 0;
  border: none;
  border: solid 1px #333;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.right {
  min-width: 250px;
  max-width: 40%;
}

.bag {
  background: #000000;
  width: 300px;
  height: 300px;
  padding: 20px;
  text-align: left;
  margin: 8px;
}

.bag > p {
  color: #ffffff;
  margin: 0px;
  margin-bottom: 4px;
}

.sounds-row {
  display: flex;
  flex-wrap: wrap;
}

.sounds-row > div {
  margin: 8px;
}

.sounds-row > div > p {
  margin: 0;
  margin-bottom: 4px;
}

.sounds-row > div {
  min-width: 100px;
}

.sounds-row > div > audio {
}

.JumboAudio {
  background: #333;
  color: #ffffff;
  padding: 12px 16px;
  margin: 0;
  border: solid 1px #444;
  font-size: 20px;
  border-radius: 2px;
  text-align: center;
  min-width: 50px;
  transition: background 0.2s, border 0.2s;
  margin-left: 8px;
  margin-right: 8px;
}

.JumboAudio:hover {
  background: #444;
  border: solid 1px #555;
}

.green {
  background: green;
  border: solid 1px lightgreen;
}

.green:hover {
  background: green;
  border: solid 1px lightgreen;
  filter: brightness(1.1);
}
