@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

.app {
  font-size: 22px;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 96px;
}

.top-row {
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.metamask-button {
  background: #111;
  color: rgb(150, 150, 150);
  padding: 8px;
  border: solid 1px #333;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
}

.primary-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.primary-row h2 {
  margin: 8px;
}

.secondary-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.left {
  max-width: max(350px, 40%);
}

.right {
  max-width: max(350px, 40%);
}

.bag {
  background: #000000;
  width: 300px;
  height: 300px;
  padding: 20px;
  text-align: left;
  margin: 8px;
}

.bag > p {
  color: #ffffff;
  margin: 0px;
  margin-bottom: 4px;
}

.sounds-row {
  display: flex;
  flex-wrap: wrap;
}

.sounds-row > div {
  margin: 8px;
}

.sounds-row > div > p {
  margin: 0;
  margin-bottom: 4px;
}

.sounds-row > div {
  min-width: 100px;
}

.sounds-row > div > audio {
}

.JumboAudio {
  font-size: 1.7rem;
  padding: 4px 16px;
  min-width: 50px;
  margin-left: 8px;
}

.green {
  background: green;
  border: solid 1px lightgreen;
}

.green:hover {
  background: green;
  border: solid 1px lightgreen;
  filter: brightness(1.1);
}
