body {
  margin: 0;
  background: #1a1a1a;
  color: #ffffff;
  font-family: EB Garamond, serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: EB Garamond, serif, sans-serif;
}
